<footer class="mt-5 bg-dark py-3 text-center">
    <p style="color: white; font-weight: bold">
        <i class="fas fa-copyright"></i>
        Copyright   MyBnB By
        <i class="far fa-registered"></i>
          Romy
    </p>
</footer>