{% extends 'base.html.twig' %}

{% block title %}
  Bienvenue sur MyBnB - Le meilleur réseau de locations de vacances
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-2">
            <h1 class="display-3 text-center">Bienvenue sur MyBnB !!!</h1>
            <p class="lead">Nous mettons en relation les voyageurs et les propriétaires pour un séjour agréable en
                proposant leurs bien à la location
                .</p>
            <hr class="my-4">
            <p class="text-center">Vous êtes voyageur ?  vous êtes au bon endroit. Consulter les locations de nos annonceurs</p>
            <p class="lead text-center">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
            </p>
        </div>

        <h2 class="text-center mt-3 mb-4">Nos appartements stars</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light-mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>59&€uro/nuit</strong><br>
                        <small>Pas encore de note</small>
                    </div>
                    <img src="https://placeimg.com/640/480/arch" alt="foto de l'appartement"
                         style="height: 200px;width: 100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement Rue Rivoli
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda atque consectetur distinctio ducimus harum hic optio quisquam, quod voluptates!
                        </p>
                        <a href="#" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light-mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>59&€uro/nuit</strong><br>
                        <small>Pas encore de note</small>
                    </div>
                    <img src="https://placeimg.com/640/480/arch" alt="foto de l'appartement"
                         style="height: 200px;width: 100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement Rue Rivoli
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda atque consectetur distinctio ducimus harum hic optio quisquam, quod voluptates!
                        </p>
                        <a href="#" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light-mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>59&€uro/nuit</strong><br>
                        <small>Pas encore de note</small>
                    </div>
                    <img src="https://placeimg.com/640/480/arch" alt="foto de l'appartement"
                         style="height: 200px;width: 100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement Rue Rivoli
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda atque consectetur distinctio ducimus harum hic optio quisquam, quod voluptates!
                        </p>
                        <a href="#" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="text-center mt-3 mb-4">Nos Propriétaires stars</h2>
        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">ROMY KLK</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://placeimg.com/640/480/people" alt="" class="float-left mr-3"
                            style="width: 100px" height="100px">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, sapiente?.</p>
                            <a href="#" class="btn btn-success float-right">Voir le profil</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">ROMY KLK</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://placeimg.com/640/480/people" alt="" class="float-left mr-3"
                                 style="width: 100px" height="100px">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, sapiente?.</p>
                            <a href="#" class="btn btn-success float-right">Voir le profil</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
